<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DebEase</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css">    
</head>
<body>
    <h1>DebEase</h1>
    
    
        <form method="post" action="{% url 'run_page' %}">
            
            {% csrf_token %}
    <div class="container">
        <div class="buttons-container">
            <button class="button" type="button" onclick="selectAll(1)">Recommended</button>
            <button class="button" type="button" onclick="selectAll(2)">Optional</button>
            <button class="button" type="button" onclick="selectAll(3)">Customization</button>
            <button class="button" type="submit">Run</button>
        </div>

       <!-- Updated form with correct URL syntax -->
            <div class="columns">
                <div class="column">
                    {{ form.login_manager }} Change default login manager
            		    <br><br>
            		    {{ form.cpu_drivers }} Install microcode
            		    <br><br>
            		    {{ form.gpu_drivers }} Install GPU Drivers
            		    <br><br>
            		    {{ form.nala_install }} Replace apt with nala
            		    <br><br>
            		    {{ form.battery_saver }} install battery saver
            		    <br><br>
            		    {{ form.ulauncher }} Install app launcher
            		    <br><br>
            		    {{ form.firewall }} Configure firewall.
            		    <br><br>
            		    {{ form.backup }} install timeshift: a backup tool.
                </div>
                <div class="column">
                    {{ form.web_apps }} Install a WebApp Manager
                    <br><br>
                    {{ form.custom_scrps }} Setup custom scripts to streamline accessibility
                    <br><br>
                    {{ form.aliases }} Configure Terminal aliases
                    <br><br>
            		    {{ form.kde }} Install KDE-Connect
                </div> 
                <div class="column">
                    {{ form.terminal_starship }} Enhance terminal
                    <br><br>
                    {{ form.libreoffice_theme }} Make libreoffice look better
                </div>
            </div>
        </form>
    </div>

    <script>
        function selectAll(columnIndex) {
             var checkboxes = document.querySelectorAll('.columns .column:nth-child(' + columnIndex + ') input[type="checkbox"]');
            checkboxes.forEach(function (checkbox) {
                checkbox.checked = true;
            });
        }
    </script>
</body>
</html>
