  body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0; /* Remove default margin to ensure full-width layout */
        }

        h1 {
            color: #333;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 100vh; /* Set minimum height to ensure container takes up the full height of the viewport */
        }

        .columns {
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
        }

        .column {
            flex: 1;
            border-right: 2px solid #333;
            padding: 10px;
        }

        .column:last-child {
            border-right: none;
        }

        .buttons-container {
            margin-top: 20px;
            display: flex;
            justify-content: space-between; /* Align buttons to the left and right */
            width: 80%; /* Adjust the width as needed */
            margin: 0 auto; /* Center the buttons */
        }

        .button {
            padding: 10px;
            margin: 5px;
            font-size: 16px;
            cursor: pointer;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
        }

        .button:hover {
            background-color: #45a049;
        }

        button[type="submit"] {
            background-color: #008CBA;
            margin-left: auto; /* Move the "Run" button to the right */
        }

        button[type="submit"]:hover {
            background-color: #0077a3;
        }
